/packages
/T034/bin
/T034/obj
/T034.Db/bin
/T034.Db/obj
/publish

vgiik.suo
Migrator/obj
Migrator/bin
Db.Test/bin
Db.Test/obj
/Db.Test/bin
/Db.Test/obj
/Migrator/bin
/Migrator/obj
/.vs
T034/T034.csproj.user
