@model Db.Entity.Goods

@{
    ViewBag.Title = "Добавить товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddGoods", "Admin"))
{
    <legend>Добавить товар</legend>
    <div class="control-group warning">
        <label class="control-label">Название</label>
        <div>
            @Html.TextBoxFor(m => m.Name, new Dictionary<string, object> { { "class", "input-xxlarge" } })
        </div>

    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
    </div>
}