@using T034.Models
@model Db.Entity.Goods

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


@Html.Partial("FileUploadPartialView", new FileUploadModel
    {
        Url = "UploadFile",
        Category = "Goods", 
        Id = Model.Id.ToString()
    })